<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Restful Booker API Suite">

    <test name="Auth Test">
        <classes>
            <class name="tests.AuthTests"/>
        </classes>
    </test>

    <test name="Booking Test">
        <classes>
            <class name="tests.BookingTests"/>
        </classes>
    </test>

    <test name="Ping Test">
        <classes>
            <class name="tests.PingTests"/>
        </classes>
    </test>

</suite>
